.socialSignin {
  margin: 0.5rem auto 0;
}

.links {
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;

  a {
    color: black;
  }
}

.loginbtn {
  img {
    width: 2rem;
    margin: 0 5px 0 0;
  }
}

.loginbtn:hover {
  background-color: #4285f4;
}
